/*font-family: 'Archivo-Narrow';
font-family: 'Battambang';*/
:root {
  --primary: white;
  --secondary: red;
  --third: blue;
  --fourth: black;
}
h1 {
  font-family: "Archivo-Narrow";
  font-size: 3rem;
  margin-top: 5rem;
  color: var(--fourth);
}
h2 {
  font-family: "Archivo-Narrow";
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--primary);
  padding-left: 5vw;
  padding-right: 5vw;
}
p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 5vw;
  padding-right: 5vw;
}
h5 {
  color: var(--primary);
}
.flex {
  display: flex;
}
.flex-direction {
  flex-direction: row;
}
.flex li {
  margin: 1rem;
}
.flex li button {
  border: 0.25rem solid;
  border-radius: 5px;
  border-color: var(--third);
}
.flex li button:hover {
  background-color: var(--third);
  color: var(--primary);
}
.flex li button:active {
  background-color: var(--secondary);
}
nav {
  color: var(--primary);
  background-color: var(--secondary);
  padding: auto;
}
img {
  width: 100%;
}

.navbar {
  justify-content: space-between;
  align-items: center;
}
body {
  display: flex;
  background-color: var(--third);
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-image: url(https://img.freepik.com/fotos-premium/salon-belleza-hombres-corte-pelo-hombres-barberia-nuevo-estilo-corte-pelo-2020_217333-381.jpg?w=2000);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 300px;
}
.center {
  text-align: center;
  align-items: center;
  justify-content: center;
}
footer {
  display: block;
  margin: auto;
  margin-top: auto;
  background-color: var(--secondary);
  color: var(--primary);
}
.footer-iframe {
  margin: 2rem;
}
.global-padding {
  padding-left: 5vw;
  padding-right: 5vw;
}
@media (min-width: 768px) {
  .global-padding {
    padding-left: 2.5vw;
    padding-right: 2.5vw;
  }
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}
@media (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

.colum {
  display: flex;
  flex-direction: column;
}
.flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.promos {
  height: 10rem;
  border: 2rem solid var(--primary);
  border-radius: 2rem;
  font-family: "Battambang";
  font-size: 1.5rem;
}
.promos:hover {
  border: 2rem solid var(--secondary);
  background-color: var(--primary);
}

.inline-block {
  display: block;
}

@media (min-width: 1200px) {
  footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
  .footer-iframe {
    margin-right: 4rem;
  }
}
