/*font-family: 'Archivo-Narrow';
font-family: 'Battambang';*/
:root {
  --primary: white;
  --secondary: red;
  --third: blue;
  --fourth: black;
}
h1 {
  bac
  font-family: "Archivo-Narrow";
  font-size: 3rem;
  margin-top: 5rem;
  color: var(--fourth);
}
h2 {
  font-family: "Archivo-Narrow";
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: var(--primary);
  padding-left: 5vw;
  padding-right: 5vw;
}
p {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-left: 5vw;
  padding-right: 5vw;
}
h5 {
  color: var(--primary);
}
.flex {
  display: flex;
}
.flex-direction {
  flex-direction: row;
}
.flex li {
  margin: 1rem;
}
.flex li button {
  border: none;
  border-radius: 5px;
}
.flex li button:hover {
  background-color: var(--third);
}
nav {
  color: var(--primary);
  background-color: var(--secondary);
  padding: 0.5rem;
}
img {
  width: 100%;
}

.navbar {
  justify-content: space-between;
  align-items: center;
}
body {
  display: flex;
  background-color: var(--third);
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-image: url(https://scontent.ftuc1-2.fna.fbcdn.net/v/t39.30808-6/229887687_519703279283618_4476223843373552080_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=730e14&_nc_eui2=AeHxpA69vL6Nht52KbwX_3WWNvWPAYVMhW429Y8BhUyFbr8Nsoj0ouaYcvonzUW6JJ_QiZDa6lxo__RWSaqxJN4M&_nc_ohc=oLdsa5FheE0AX-k94MG&_nc_ht=scontent.ftuc1-2.fna&oh=00_AfCO6Uoy9yr1U0_aZ4EpvFrkDznUw_yO14gLu_u2LSaMAg&oe=64016B06);
  background-position: center;
  background-size: cover;
  height: 25rem;
}
.center {
  text-align: center;
  align-items: center;
  justify-content: center;
}
footer { display: block;
  margin: auto;
  margin-top: auto;
  background-color: var(--secondary);
  color: var(--primary);
}
.footer-iframe{
  margin: 2rem;
}
.global-padding {
  padding-left: 5vw;
  padding-right: 5vw;
}
@media (min-width: 768px) {
  .global-padding {
    padding-left: 2.5vw;
    padding-right: 2.5vw;
  }
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 3rem;
}
@media (min-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }
}

.colum {
  display: flex;
  flex-direction: column;
}
.flex-center{ 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center
}

.promos {
  height: 10rem;
  border: 2rem solid var(--primary);
  border-radius: 2rem;
  font-family: "Battambang";
  font-size: 1.5rem;
}
.inline-block {
  display: block;
}

@media (min-width: 1200px) {
  footer {
   display: flex;
   flex-direction: row;
   width: 100%;
   align-items: center;
   justify-content: center;
  }
.footer-iframe{
  margin-right: 4rem;
}  
  }
