@import url("https://fonts.googleapis.com/css2?family=Rubik+Bubbles&family=Seymour+One&display=swap");
body {
  font-family: "Rubik Bubbles", cursive;
  font-family: "Seymour One", sans-serif;
}
.tex-center {
  text-align: center;
}
.font-weigth-700 {
  font-weight: 700;
}
.tex-underline {
  text-decoration: underline;
}
.tex-overline {
  text-decoration: overline;
}
.color-red {
  color: red;
}
.font-example {
  text-align: center;
}
.box-example {
  border: 10px solid blue;
  margin: 100px;
  padding: 16px;
  border-radius: 16px;
  width: 150px;
  height: 150;
  display: block;
}
.box-example-titulo {
  margin: 0px 16px;
  height: 50px;
  display: block;
}
.box-example-contenido {
  margin-top: 16px;
  margin-bottom: 16px;
  display: block;
}
.box-example-abajo {
  margin: 0px 16px;
  height: 200;
  width: 200;
  display: inline;
}
